/* This allows the delete (x) icon to become visible when hovering over the
whole list item */

.search-list-item-icon {
  visibility: hidden;
}

.search-list-item:hover .search-list-item-icon {
  visibility: visible;
}

/* Permits line-breaks in results text */
.search .title,
.search .description {
  white-space: pre-wrap;
}
