{
  "env": { "jest": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "fetch": false
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "react-hooks", "@typescript-eslint"],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "functions": "never",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "max-len": ["error", { "code": 100, "ignoreTemplateLiterals": true }],
    "no-underscore-dangle": "off",
    "no-confusing-arrow": "off",
    "no-param-reassign": "off",
    "no-use-before-define": ["error", { "variables": false }],
    "object-curly-newline": ["error", { "ObjectPattern": { "multiline": true } }],
    "operator-linebreak": "off",
    "prettier/prettier": "error",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/jsx-boolean-value": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "strict": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
